body {
    margin: 0 auto;
}

/* ШАПКА */
header {
    justify-content: center;
    display: block;
    max-width: 1920px;
    margin: 0 auto;

}

.hamburger-menu {
    display: none;
}

/* Верхняя часть шапки */
.header_top {
    display: flex;
    max-width: 1920px;
    justify-content: flex-start;
		align-items: center;
    box-shadow: 1px 8px 10px rgba(236, 233, 233, 0.884);
}

.logo img {
    width: 390px;
    height: 71px;
}

.logo2 {
    display: none;
}

/* левая часть верхнего блока шапки */
.block_left {
    width: 960px;
    height: 123px;
    /* border: 1px solid black; */
    position: relative;
}

.block_left img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    padding-left: 150px;
}

/* правая часть верхнего блока шапки */
.block_right {
    display: flex;
    width: 960px;
    height: 123px;
    /* border: 1px solid rgb(0, 0, 0); */

}

.block_r_text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 70px;
    color: #2E4555;
    padding-left: 185px;
    padding-right: 150px;
}

.icons {
    display: flex;
    padding-left: 28px;
    /* margin: auto; */
}

.icon_VK {
    padding-right: 20px;
    margin: auto;
}

.icon_OK {
    margin: auto;
}




/* Нижняя часть шапки */
.header_down {
    display: flex;
    width: 1920px;
    /* border: 1px solid black; */
    height: 83px;
    justify-content: center;
    align-items: center;
}

/* Для меню */
.menu {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    text-align: center;
    list-style-type: none;
    font: normal bold 18px Arial, Verdana, Helvetica;

    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.menu-item li {
    padding-right: 100px;
}

.menu-item a {
    padding: 26px;
    text-decoration: none;
    color: #2E4555;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 70px;
}

.menu-item a:hover {
    color: #507692;
}

/* ################################################################################################### */

.main {
    padding-left: 150px;
    padding-right: 150px;
    display: block;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: center;

}

.zagalovok {
    padding-top: 84px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 70px;
    /* or 146% */
    color: #2E4555;
}

.card {
    display: flex;
    padding-bottom: 270px;

}

.card2 {
    display: flex;

}

.card3 {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.img_contacts {
    display: flex;
    padding-left: 30px;



}

.img_contact {

    cursor: pointer;
    padding-right: 18px;

}

.img_card {
    padding-top: 27px;
    padding-right: 20px;
    width: 26px;
    height: 26px;
}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #2E4555;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
footer {
    background-color: #2D64A1;

}

.footer_left {
    margin-right: 157px;
    margin-bottom: 325px;
}

.footer_right {
    display: flex;
}

.footer_img {
    width: 390px;
    height: 70.58px;
}

.main_footer {
    justify-content: center;
    padding-top: 40px;

    display: flex;
    height: 399px;

}

.text_right_footer {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 135px;
    cursor: pointer;
    margin-top: 0px;
}

.text_right_footer a:hover {
    color: #fdc62f;
}

.text_right_footer1 a:hover {
    color: #fdc62f;
}

.text_right_footer2 a:hover {
    color: #fdc62f;
}

.text_right_footer1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0px;
}

.text_right_footer2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 138px;
    cursor: pointer;
    margin-top: 0px;
    padding-right: 134px;
}

.img_group {
    width: 55px;
    height: 55px;
    padding-right: 20px;
    cursor: pointer;
}

.imgs_footer {
    display: flex;
    height: 55px;
}

.decor {
    text-decoration: none;
    color: white;
}

.link {
    padding-top: 10px;
}

.links {
    display: flex;
}

/*????????????????????????????????????????????????????????????????*/
.hamburger-menu {
    display: none;
    
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    position: relative;
    /* используем flex для центрирования содержимого */
    align-items: center;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #204977;
    z-index: 10;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #2D64A1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #023c80;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
